<%= render "shared/header" %>
<div class='main'>
  <%#カレントユーザーのマイページで  かつそのカレントユーザーがカスタマーユーザーである時は出したくない%>
  <div class='profile-contents'>
    <h2 class='title'><%= @nickname %>さん</h2>
      <div class="box1">
        <p>ここに文章</p>
      </div>
    <% if current_user.id.to_s == params[:id] %>
      <%= link_to "プロフィールを編集する", edit_user_path(current_user), class:"edit-profile" %>
    <%end%>
  </div>
  
  <% unless current_user.id.to_s == params[:id] && current_user.buyer_or_customer_id == 3%>
    <div class='profile-contents'>
      <h2 class='title'><%= @nickname %>さんの出品一覧</h2>
      <div class="subtitle" >
        投稿商品
      </div>
      <ul class='item-lists'>
        <% @items.each do |item| %>
          <%= render partial: "items/item", locals: { item: item } %>
        <%end%>
        <% if @items.empty?  %>
          <li class='list'>
            <%= link_to '#' do %>
            <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
            <div class='item-info'>
              <h3 class='item-name'>
                商品を出品してね！
              </h3>
              <div class='item-price'>
                <span>99999999円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if current_user.id.to_s == params[:id] %>
      <div class='profile-contents'> 
        <h2 class='title'><%= @nickname %>さんの買付品一覧</h2>
        <div class="subtitle" >
          投稿可能商品
        </div>
        <ul class='item-lists'>
          <% @items.each do |item| %>
            <%= render partial: "items/item", locals: { item: item } %>
          <%end%>
          <% if @items.empty?  %>
            <li class='list'>
              <%= link_to '#' do %>
              <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
              <div class='item-info'>
                <h3 class='item-name'>
                  商品を出品してね！
                </h3>
                <div class='item-price'>
                  <span>99999999円<br>(税込み)</span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <%end%>
  <%# /商品出品一覧 バイヤーユーザー %>
</div>

<%= render "shared/footer" %>