<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    ANYONE CAN CHENGE THE WORLD!!
  </p>
  <h2 class='ad-footer-title'>
    
  </h2>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>BATONについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'BATON利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>BATONを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'ブランド一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>BATONについて</h2>
      <ul>
        <li><%= link_to 'BATONガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'BATONロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("Baton-logo-white.png", class:"logo-white"), "#" %>
  <p>© BATON</p>
  <div class='nav1'>
    <ul class='lists-right1'>
      <% if admin_signed_in? %>
        <li><%= link_to current_admin.admin_name, admin_path(current_admin), class: "company-login" %></li>
        <li><%= link_to 'サインアウト', destroy_admin_session_path, method: :delete, class: "company-login" %></li>
      <% else %>
        <li><%= link_to '※企業様はこちらからサインイン', new_admin_session_path, class: "company-login" %></li>
        <li><%= link_to '※企業新規登録', new_admin_registration_path, class: "company-login" %></li>
      <% end %>                    
    </ul>
  </div>
</div>