<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      Let's Change your life, Chenge the world
    </h2>
    <p class='service-explain1'>
      - 年間１５億の "売れ残り服" 多くが廃棄される現実 -
    </p>
    <p class='service-explain'>
       年々増加する衣料廃棄ロス問題
    </p>
    <p class='service-explain'>
       あなたも持続化可能な社会の一手を担いませんか？<br>
       <br>
    </p>
    <p class='service-explain2'>
       Batonなら "副業" 、 "お得なお買い物" をするだけで、 "簡単に" 持続化可能な社会に貢献できます。
    </p>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# Cherms of Baton %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      Cherms of Baton
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "furima-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>- ２STEP -</span><br>
          副業
        </h3>
        <p class='reason-list-description'>
          買付 → 出品の2STEPで<br>簡単に副業
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>- GOOD PRICE -</span><br>ショッピング
          
        </h3>
        <p class='reason-list-description'>
          商品は全て新品、廃棄前の洋服なのでお買い得
        </p>
      </li>

      <li class='list'>
        <%= image_tag "istockphoto-1153285788-612x612.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>- VIRTUAL -</span><br>フィッティング
        </h3>
        <p class='reason-list-description'>
          オンラインで試着が可能
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro07.png", class:"list-pict" %>
        <span class='reason-list-number'>4</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>- EASY -</span><br>持続化可能社会
        </h3>
        <p class='reason-list-description'>
          繊維に使われる植物の水や、動物への被害を削減
        </p>
      </li>
    </ul>
  </div>
  <%# Cherms of Baton %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      あなたの行動で、世の中がより良い世界へ変わります
    </h2>
    <p class='ad-explain1'>
      - このアプリであなたができること -
    </p>
    <p class='ad-explain'>
      ・空いた時間を使って洋服を買い付けて、あなたオリジナルのオンラインセレクトショップを開業
    </p>
    <p class='ad-explain'>
      ・欲しかったあのブランドをお得なバリュープライスで購入
    </p>
    <p class='ad-explain-allo'>
      ↓
    </p>
    <p class='ad-explain2'>
      たったこれだけで、 "持続化可能な社会" に貢献
    </p>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      BATON's features
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "furima-intro04.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          簡単に売り買いできる
        </h3>
        <p class='feature-list-description'>
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro05.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          売上金は即日振込み
        </h3>
        <p class='feature-list-description'>
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro06.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          様々な支払い方法
        </h3>
        <p class='feature-list-description'>
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAの特徴 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>PICK UP CATEGORYS</h2>
    <div class="subtitle" >
      New Posts
    </div>
    <ul class='item-lists'>
      <% @items.each do |item| %>
        <%= render partial: "item", locals: { item: item } %>
      <%end%>
      <% if @items.empty?  %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              商品を出品してね！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>

  <%# 買付可能商品一覧 %>
  <% if user_signed_in? && current_user.buyer_or_customer_id.to_s != "3" || current_admin %>
  <div class='item-contents'>
    <h2 class='title'>BUYABLE BUYING ITEMS</h2>
    <div class="subtitle" >
      New Posts
    </div>
    <ul class='item-lists'>
      <% @admin_items.each do |admin_item| %>
        <li class='list'> 
          <%= link_to admin_item_path(admin_item.id) do %>
            <div class='item-img-content'>
              <%= image_tag admin_item.images[0], class: "item-img" %>
              <%if admin_item.buyer_order.present? %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
              <% end %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= admin_item.admin_item_name %>
              </h3>
              <div class='item-price'>
                <span><%= admin_item.price %>円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li> 
      <%end%>
      <% if @admin_items.empty?  %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              商品を出品してね！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% else %>
  <div></div>
  <% end %>
  <%# 買付可能商品一覧 %>
</div>
<% if user_signed_in? %>
  <% if current_user.buyer_or_customer_id == 2 %>
    <%= link_to(new_item_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'>出品する</span>
      <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
  <% end %>
<% end %>
<%= render "shared/footer" %>